body{
	font-family: sans-serif;
	text-align: center;
}

#opponent-choice{
	width: 200px;
	height: 200px;
	margin-top: 10px;

}

#your-choice{
	width: 200px;
	height: 200px;
	margin-top: 10px;

}

#choices{
	width: 240px;
	height: 60px;
	margin-top: 10px;
	margin: 0 auto;
}

#choices img{
	width: 60px;
	height: 60px;
	
}